* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
}

.top-header {
    width: 100%;
    background: #fcf7f7;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.top-navigation {
    display: flex;
    justify-content: center;
}

.top-navigation a {
    color: #000000;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1em;
    font-weight: 500;
}
.btn_connexion{
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background: #FF0000;
    color: #fff;
    cursor: pointer;
}


.side-header {
    width: 200px;
    height: 100vh;
    background: rgba(250, 35, 59, 0.35);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
    margin-bottom: 10px; /* Réduire l'espace sous le logo */
    margin-top: 10px;
}

.logo img {
    width: 150px; /* Augmentez la largeur du logo */
    height: auto; /* Conserve le ratio d'aspect de l'image */
}

.search-bar {
    width: 80%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar input {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px; /* Espace entre l'input et le bouton */
}

.search-bar button, .presentation button {
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background: #FF0000;
    color: #fff;
    cursor: pointer;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; /* Ajustement pour rapprocher les boutons du haut */
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #1d1d1d;
    text-decoration: none;
    font-weight: 500;
    margin: 10px 0; /* Ajustement de l'espacement entre les liens */
    width: 100%;
    text-align: center;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #FF0000;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.presentation {
    margin-left: 200px; /* Espace pour la barre latérale */
    padding-top: 50px; /* Espace pour la barre supérieure */
    padding: 20px;
    width: calc(100% - 200px);
    text-align: center; /* Centrer le texte */
}

.presentation h1 {
    margin-top: 40px; /* Ajuster l'espace au-dessus du titre h1 */
}

.sample-image {
    display: block;
    margin: 20px auto;
    max-width: 100%; /* S'adapte à la largeur du conteneur */
    height: auto; /* Maintient le ratio d'aspect */
}




