/* General styling for body and elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.artist-albums-section {
    max-width: 90vw;
    background-color: #fff5;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    padding: 20px;
    text-align: center;
}

.artist-albums-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.album-list {
    list-style-type: none;
    padding: 0;
}

.album-item {
    margin: 10px 0;
    font-size: 1.2em;
}

.no-album {
    font-size: 1.2em;
    color: #666;
}

@media (max-width: 768px) {
    .artist-albums-section {
        padding: 10px;
    }

    .album-item {
        font-size: 1em;
    }
}
