/* Ajouter un style pour le conteneur principal */
.content {
    margin-left: 220px; /* Correspond à la largeur de la sidebar */
    padding: 20px;
    width: calc(100% - 220px); 
    box-sizing: border-box; 
}

/* Responsive styles */
@media (max-width: 768px) {
    .content {
        margin-left: 100px; 
        width: calc(100% - 100px);
    }
}

@media (max-width: 480px) {
    .content {
        margin-left: 60px; 
        width: calc(100% - 60px);
    }
}

/* Styles existants */
.album-title {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px;
    width: 100%; 
    box-sizing: border-box; 
}

.list div {
    flex: 1 1 calc(25% - 16px);
    box-sizing: border-box;
    margin-bottom: 16px;
}

.list article {
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 8px;
    text-align: center;
    background: #fff;
    width: 100%; 
}

.list article img {
    max-width: 100%;
    height: auto;
}

.pagination {
    text-align: center;
    overflow: hidden;
    margin: 20px 0;
}

.pagination ul {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.pagination ul li {
    display: inline;
    margin: 0 5px;
    color: white;
    background-color: #10a2a7; 
    padding: 5px 10px; 
    border-radius: 5px; 
}

.pagination ul li.active a {
    font-weight: bold;
}


@media (max-width: 1200px) {
    .list div {
        flex: 1 1 calc(33.33% - 16px);
    }
}

@media (max-width: 992px) {
    .list div {
        flex: 1 1 calc(50% - 16px); 
    }
}

@media (max-width: 768px) {
    .list {
        padding: 8px; 
        gap: 8px;
    }
    .list div {
        flex: 1 1 calc(50% - 8px); 
        margin-bottom: 8px;
    }
    .list article {
        padding: 8px; 
    }
}

@media (max-width: 576px) {
    .list div {
        flex: 1 1 calc(100% - 16px); 
    }
}


