/* CSS pour la page d'artistes */

.artist-section {
    max-width: calc(90vw - 220px); /* Largeur de la vue moins la largeur de la sidebar */
    margin-left: 220px; /* Largeur de la sidebar */
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(7px);
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.5);
    border-radius: 0.8rem;
    padding: 20px;
    text-align: center;
    margin: 20px auto;
}


.artist-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.artist-bubble {
    background: #fff;
    border-radius: 50%;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.artist-bubble:hover {
    transform: translateY(-10px);
}

.artist-name {
    font-size: 1.2em;
    color: #000;
}

.no-artist {
    font-size: 1.2em;
    color: #666;
}

.artist-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.artist {
    flex: 1 1 calc(25% - 16px);
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Section des albums */
.artist-albums-section {
    max-width: 90vw;
    background-color: #fff5;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    padding: 20px;
    text-align: center;
}

.artist-albums-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

/* Liste des albums */
.album-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.album-item {
    flex: 1 1 calc(25% - 16px);
    box-sizing: border-box;
}

.album-item article {
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 8px;
    text-align: center;
    background: #fff;
}

.album-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.no-album {
    font-size: 1.2em;
    color: #666;
}
