.footer {
    background: #333;
    color: #fff;
    padding: 5px 0; /* Réduction du padding */
    font-family: Arial, sans-serif;
    margin-left: 220px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 10px; /* Réduction de l'espace autour du contenu */
}

.footer-section {
    flex: 1;
    margin: 5px; /* Réduction de la marge */
    min-width: 100px; /* Réduction de la largeur minimale */
}

.footer-section h3 {
    margin-bottom: 5px; /* Réduction de la marge en bas */
    font-size: 14px; /* Réduction de la taille de police */
}

.footer-section p, .footer-section ul, .footer-section form {
    margin-bottom: 5px; /* Réduction de la marge en bas */
    font-size: 12px; /* Réduction de la taille de police */
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px; /* Réduction de la marge en bas */
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 12px; /* Réduction de la taille de police */
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-section form input {
    padding: 5px; /* Réduction du padding */
    margin-right: 5px; /* Réduction de la marge à droite */
    border: none;
    border-radius: 5px;
    font-size: 12px; /* Réduction de la taille de police */
}

.footer-section form button {
    padding: 5px; /* Réduction du padding */
    border: none;
    border-radius: 5px;
    background: #0066cc;
    color: #fff;
    cursor: pointer;
    font-size: 12px; /* Réduction de la taille de police */
}

.footer-section form button:hover {
    background: #004080;
}

.footer-bottom {
    text-align: center;
    padding: 5px; /* Réduction du padding */
    background: #222;
}

.footer-bottom p {
    margin: 2px 0; /* Réduction de la marge */
    font-size: 12px; /* Réduction de la taille de police */
}

.footer-section .social a {
    display: inline-block;
    margin-right: 5px; /* Réduction de la marge à droite */
}

.footer-section .social img {
    width: 12px !important;  /* Taille des logos réduite */
    height: 12px !important; /* Taille des logos réduite */
    margin: 0; /* Élimination de toute marge additionnelle */
    padding: 0; /* Élimination de tout padding additionnel */
}
