

/* Styles pour les grands écrans (desktop) */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: fixed;
}

.side-header {
    width: 220px; /* Ajustez cette valeur pour correspondre à la largeur de la sidebar */
    height: 100vh;
    background: rgb(0, 117, 59);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
    margin-bottom: 20px;
    margin-top: 20px;
}

.logo img {
    width: 150px;
    height: auto;
}

.search-bar {
    width: 80%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar input {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.search-bar button {
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background: #FF0000;
    color: #fff;
    cursor: pointer;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    flex-grow: 1;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    margin: 10px 0;
    width: 100%;
    text-align: center;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #ffffff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.buttons {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.btn_connexion, .btn_inscription, .btn_deconnexion, .btn_profil {
    padding: 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    margin-bottom: 25px;
    width: 80%;
    text-align: center;
    cursor: pointer;
}

.btn_connexion {
    background: #FF0000;
    color: #fff;
}

.btn_inscription {
    background: #26a131;
    color: #ffffff;
}

.btn_deconnexion {
    background: #FF0000;
    color: #fff;
}

/* Style pour le bouton Profil */
.btn_profil {
    background: #007BFF;
    color: #fff;
}

.btn_profil:hover {
    background: #0056b3;
}

/* Réinitialisation */
* {
    box-sizing: border-box;
}

/* Style pour le contenu principal */
.content {
    margin-left: 240px; /* Largeur de la sidebar + écart souhaité */
    padding: 20px; /* Optionnel : pour ajouter du padding à l'intérieur du contenu */
}

/* Responsive styles */
@media (max-width: 768px) {
    .side-header {
        width: 100px;
    }

    .content {
        margin-left: 120px; /* Ajustez en fonction de la largeur de la sidebar pour les petits écrans */
        padding: 10px;
    }

    .logo img {
        width: 75px;
    }

    .navigation a {
        font-size: 0.9em;
    }

    .btn_connexion, .btn_inscription, .btn_deconnexion, .btn_profil {
        padding: 10px;
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    .side-header {
        width: 60px;
    }

    .content {
        margin-left: 80px; /* Ajustez en fonction de la largeur de la sidebar pour les petits écrans */
        padding: 5px;
    }

    .logo img {
        width: 50px;
    }

    .navigation a {
        font-size: 0.8em;
    }

    .btn_connexion, .btn_inscription, .btn_deconnexion, .btn_profil {
        padding: 5px;
        font-size: 0.8em;
    }
}
