/* General styling for body and elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playlist-details-section {
    max-width: 800px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.playlist-details-section h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.playlist-details-section .playlist-info {
    margin-bottom: 20px;
}

.playlist-details-section .playlist-info img {
    max-width: 300px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.playlist-details-section h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.track-list {
    list-style: none;
}

.track-list li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.track-list li:last-child {
    border-bottom: none;
}

.track-list button {
    background-color: #FF0000;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.track-list button:hover {
    background-color: #CC0000;
}

