.playlist-details-section {
    margin-left: 220px; /* Ajustez cette valeur en fonction de la largeur de votre barre latérale */
    margin-top: 20px; /* Ajout de la marge supérieure pour correspondre à la barre d'en-tête */
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.playlist-details-section h2 {
    margin-top: 0;
    color: #333;
}

.playlist-info {
    margin-bottom: 20px;
}

.playlist-info p {
    margin: 10px 0;
}

.playlist-detail-image {
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
}

.track-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.track-list li {
    margin-bottom: 10px;
}

.track-list li button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.track-list li button:hover {
    background-color: #0056b3;
}

/* Responsive styles */
@media (max-width: 768px) {
    .side-header {
        width: 100px;
    }

    .content {
        margin-left: 120px; /* Ajustez en fonction de la largeur de la sidebar pour les petits écrans */
        padding: 10px;
    }

    .logo img {
        width: 75px;
    }

    .navigation a {
        font-size: 0.9em;
    }

    .btn_connexion, .btn_inscription, .btn_deconnexion, .btn_profil {
        padding: 10px;
        font-size: 0.9em;
    }

    /* Adjusting content margin for playlist details section */
    .playlist-details-section {
        margin-left: 120px; /* Adjust based on sidebar width for smaller screens */
    }
}

@media (max-width: 480px) {
    .side-header {
        width: 60px;
    }

    .content {
        margin-left: 80px; /* Ajustez en fonction de la largeur de la sidebar pour les petits écrans */
        padding: 5px;
    }

    .logo img {
        width: 50px;
    }

    .navigation a {
        font-size: 0.8em;
    }

    .btn_connexion, .btn_inscription, .btn_deconnexion, .btn_profil {
        padding: 5px;
        font-size: 0.8em;
    }

    /* Adjusting content margin for playlist details section */
    .playlist-details-section {
        margin-left: 80px; /* Adjust based on sidebar width for smaller screens */
    }
}
